body {
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    color: #FBFBFB;
    font-size: larger;
}   
  
.header {
    font-size: x-large;
    justify-content: space-between;
}

.header div {
    display: flex;
    justify-content: space-around;
    width: 20em;
}

nav {
    display: flex;
    justify-content: space-around;
    margin: 5em;
}

h3 {
    padding: 0 3em;
}

a {
    text-decoration: none;
    color: #FBFBFB;
}
  
section {
    display: flex;
    flex-direction: row;
    margin: 2em 0 2em 0;
}

.description {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
    border-bottom: .1em solid #581845;
}

.description img {
    width: 12em;
    height: 20em;
    border-radius: 5%;
}

.intro {
    width: 40%;
    padding: 0 5em;
}

.intro .resume {
    padding: .5em;
    background-color: #581845;
    border-radius: 2em;
}

.stack {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    border-bottom: .1em solid #581845;
}

.projects {
    padding: 0 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.projects .project {
    height: 10em;
    width: 10em;
    margin: 1em;
    color: #202020;
    background-color: #FBFBFB;
    border: .1em solid black;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education {
    width: 70%;
}

.contact {
    width: 25em;
    height: 15em;
    background-color: #FBFBFB;
    color: #202020;
    border: .1em solid black;
}

.subject {
    padding: 1em;
    font-size: large;
    border-bottom: .1em solid black;
}

.message {
    padding: 1em;
}

@media (max-width: 950px) {

    .header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .header div {
        width: 100%;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10em;
    }

    .intro {
        width: 80%;
    }

    .projects {
        padding: 0;
    }
}

@media (max-width: 700px) {
    .projects .project {
        height: 15em;
        width: 15em;
    }
}