@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


:root {
    --primarycolor: #17202A;
    --secondarycolor: #FBFBFB;
    --tertiarycolor: #2C2C2C;
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    background: var(--primarycolor); 
}
   
::-webkit-scrollbar-thumb {
    background: var(--tertiarycolor);
    border-radius: 1em; 
    transition-duration: 1s;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--secondarycolor); 
    transition-duration: 1s;
}  

body {
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.name {
    font-family: 'Modak', cursive;
    font-size: 6em;
}

header {
    position: fixed;
    height: 4em;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primarycolor);
}

header img {
    height: 2em;
    width: 2em;
}

header a {
    margin: 1em 1em;
    color: var(--secondarycolor);
    text-decoration: none;
    transition-duration: 1s;
}

header a:hover {
    color: var(--tertiarycolor);
    transition-duration: 1s;
}

.menu {
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    left: 0;
}

.social {
    height: 2em;
    width: 2em;
    padding: 1em 1em;
    transition-duration: 3s;
    border-radius: 0 3em 3em 0;
    border-left: .5em solid #202020;
}

.social:hover {
    background-color: var(--secondarycolor);
    margin-left: 1em;
    padding: 1em 2em;
    transition-duration: 1s;
    border-radius: 0 1em 1em 0;
    border-left: 1em solid var(--primarycolor);
}
  
section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.description {
    display: flex;
    justify-content: space-evenly;
}

.intro {
    width: 60%;
}

.intro div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.projects .project {
    height: 20em;
    width: 20em;
    margin-bottom: 2em;
    color: var(--primarycolor);
    background-color: var(--secondarycolor);
    border: .1em solid black;
}

.about {
    display: flex;
    flex-direction: row;
}

.about img {
    width: 12em;
    height: 16em;
    padding: 5em;
}

.education {
    width: 70%;
}

.contact {
    width: 25em;
    height: 15em;
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    border: .1em solid black;
}

.subject {
    padding: 1em;
    font-size: large;
    border-bottom: .1em solid black;
}

.message {
    padding: 1em;
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    /* background-color: var(--tertiarycolor); */
    margin: 1em;
}

.contact {
    margin: 5em;
}

@media (max-width: 950px) {

    .header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    h1 {
        font-family: 'Modak';
        font-size: 5em;

    }

    .header div {
        width: 100%;
    }

    .menu {
        display: inline;
    }

    .quick-links {
        display: none;
    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10em;
    }

    .intro {
        width: 80%;
    }

    .about {
        flex-direction: column;
    }
}

@media (max-width: 700px) {

    
    nav {
        display: none;
    }
}