

body {
    background-color: #202020;
    color: #FBFBFB;
}

.header {
    display: flex;
    flex-direction: row;
}

.profile img {
    width: 5em;
}

.tech {
    display: flex;
}

.tech .stack {
    width: 25%;
    border: .1em solid black;
}

.tech .projects {
    width: 75%;
}